<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Display name:</strong>
    <%= client.display_name %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= client.logo %>
  </p>

  <p>
    <strong>Access key:</strong>
    <%= client.access_key %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= client.is_active %>
  </p>

</div>
