<div id="<%= dom_id room %>">
  <p>
    <strong>Room name:</strong>
    <%= room.room_name %>
  </p>

  <p>
    <strong>Room type:</strong>
    <%= room.room_type %>
  </p>

  <p>
    <strong>Hotel:</strong>
    <%= room.hotel_id %>
  </p>

  <p>
    <strong>Occupancy:</strong>
    <%= room.occupancy %>
  </p>

  <p>
    <strong>Hlx hotel:</strong>
    <%= room.hlx_hotel_id %>
  </p>

  <p>
    <strong>Hlx room:</strong>
    <%= room.hlx_room_id %>
  </p>

  <p>
    <strong>Hlx room name:</strong>
    <%= room.hlx_room_name %>
  </p>

  <p>
    <strong>Hlx room type:</strong>
    <%= room.hlx_room_type %>
  </p>

  <p>
    <strong>Hlx occupancy:</strong>
    <%= room.hlx_occupancy %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= room.is_active %>
  </p>

</div>
