<div id="<%= dom_id hotel %>">
  <p>
    <strong>Name:</strong>
    <%= hotel.name %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= hotel.company %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= hotel.location %>
  </p>

  <p>
    <strong>Hlx hotel:</strong>
    <%= hotel.hlx_hotel_id %>
  </p>

  <p>
    <strong>Hlx username:</strong>
    <%= hotel.hlx_username %>
  </p>

  <p>
    <strong>Hlx consumer key:</strong>
    <%= hotel.hlx_consumer_key %>
  </p>

  <p>
    <strong>Hlx consumer secret:</strong>
    <%= hotel.hlx_consumer_secret %>
  </p>

  <p>
    <strong>Hlx counter:</strong>
    <%= hotel.hlx_counter_id %>
  </p>

  <p>
    <strong>Hlx counter name:</strong>
    <%= hotel.hlx_counter_name %>
  </p>

  <p>
    <strong>Hlx counter email:</strong>
    <%= hotel.hlx_counter_email %>
  </p>

  <p>
    <strong>Hlx counter pwd:</strong>
    <%= hotel.hlx_counter_pwd %>
  </p>

  <p>
    <strong>Hlx access key:</strong>
    <%= hotel.hlx_access_key %>
  </p>

  <p>
    <strong>Hlx access secret:</strong>
    <%= hotel.hlx_access_secret %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= hotel.is_active %>
  </p>

</div>
